*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#050505;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    position:fixed;
    width:100%;
    background:rgba(0,0,0,0.7);
    backdrop-filter:blur(10px);
}

.logo{
    font-size:24px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:14px;
}

nav button{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:white;
    cursor:pointer;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:120px 8%;
}

.left h1{
    font-size:100px;
    line-height:100px;
    font-weight:800;
}

.card{
    margin-top:30px;
    background:#111;
    padding:20px;
    border-radius:20px;
    width:250px;
}

.right{
    max-width:550px;
}

.tag{
    padding:10px 20px;
    background:#111;
    border-radius:30px;
    font-size:12px;
}

.right h2{
    margin-top:30px;
    font-size:50px;
    color:#ff7b29;
}

.right p{
    margin-top:20px;
    line-height:1.8;
    color:#ccc;
}

.skills{
    margin-top:25px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skills span{
    padding:10px 15px;
    background:#111;
    border-radius:20px;
    font-size:14px;
}

.buttons{
    margin-top:30px;
}

.buttons button{
    padding:15px 25px;
    border:none;
    border-radius:30px;
    margin-right:15px;
    cursor:pointer;
}

.outline{
    background:transparent;
    color:white;
    border:1px solid white;
}

.stats{
    display:flex;
    gap:40px;
    margin-top:40px;
}

.stats h3{
    font-size:30px;
    color:#ff7b29;
}

.project{
    padding:100px 8%;
}

.project h2{
    margin-bottom:30px;
    font-size:40px;
}

.project-box{
    background:#111;
    padding:30px;
    border-radius:20px;
}

.project-box p{
    margin-top:15px;
    color:#ccc;
    line-height:1.8;
}